

html{

}
Body{
  background-image: url('../img/bg_body.svg');
  background-color: #464646;
  margin: 0;
}

.conteneur{
  max-width: 1450px;
}

header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+47,363636+47,363636+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(54,54,54,1) 47%, rgba(54,54,54,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 47%,rgba(54,54,54,1) 47%,rgba(54,54,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 47%,rgba(54,54,54,1) 47%,rgba(54,54,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#363636',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

header nav{
  margin: 20px auto 0 auto;
  overflow: hidden;
  text-align: center;
}

nav a{
  display: block;
  text-decoration: none;
  color: #fff;

}

header nav a img{
  background-color: #fff;
  float: left;
  overflow: hidden;
}
header nav div{
  float: right;
  vertical-align: middle;
  overflow: hidden;
}
main{
  text-align: center
  margin: 0 auto;
}
h1{
  color: #fff;
}

h1 span{
  color: #F99D1D;
}

main section{
  text-align: center;
}
